
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}


header {
    margin-bottom: 30px;
}

header .back-home {
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
	top: -55px ;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
}

header .back-home:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}


footer .source-code-link {
    font-size: 16px;
    color: #64b4da;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .source-code-link:hover {
    color: #333;
}
